In [21]:
# Importing dependencies
import pandas as pd

#Giving file paths
Schools = "Resources/schools_complete.csv"
Students = "Resources/students_complete.csv"

# reading schools and students data file using pandas dataframe
schools_df = pd.read_csv(Schools)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [22]:
#Reading students data in dataframe
students_df = pd.read_csv(Students)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
# combining the two dataframes into a single one
schools_complete_df = pd.merge(students_df, schools_df, how = "left", on = "school_name")
schools_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
#calculating total schools
total_schools = len(schools_complete_df["school_name"].unique())
total_schools

15

In [19]:
#calculating total students
total_students = len(schools_complete_df["student_name"])
total_students

39170

In [26]:
#calculating total budget

#defining new dataframe for unique schools name [note this can also be done by using drop_duplicate function]
unique_schools_df = pd.DataFrame(schools_complete_df.groupby("school_name",as_index=False).first())
unique_schools_df.head()

,school_name,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
0,Bailey High School,17871,Blake Martin,M,9th,75,59,7,District,4976,3124928
1,Cabrera High School,16013,Olivia Short,F,11th,94,94,6,Charter,1858,1081356
2,Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
3,Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
4,Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500

In [30]:
# calculating total budget 
total_budget = unique_schools_df["budget"].sum()
total_budget

24649428

In [32]:
#calculating average math score
average_math_score = schools_complete_df["math_score"].sum()/total_students
average_math_score

78.98537145774827

In [33]:
#calculating average reading score
average_reading_score = schools_complete_df["reading_score"].sum()/total_students
average_reading_score

81.87784018381414

In [39]:
# calculating passing math
math_pass_df = pd.DataFrame(schools_complete_df.loc[schools_complete_df.math_score >= 70])
math_pass_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [40]:
#calculating % passing math
total_passing_math = len(math_pass_df["student_name"])
percent_passing_math = 100*(total_passing_math/total_students)
percent_passing_math

74.9808526933878

In [41]:
# calculating % passing reading
reading_pass_df = pd.DataFrame(schools_complete_df.loc[schools_complete_df.reading_score >= 70])
total_passing_reading = len(reading_pass_df["student_name"])
percent_passing_reading = 100*(total_passing_reading/total_students)
percent_passing_reading

85.80546336482001

In [44]:
# calculating % passing students
total_pass_df = pd.DataFrame(schools_complete_df.loc[(schools_complete_df.math_score >=70) & 
                                                     (schools_complete_df.reading_score >=70)])
total_pass = len(total_pass_df["student_name"])
percent_pass = 100*(total_pass/total_students)
percent_pass

65.17232575950983